{% extends '../base/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/watch-video.css' %}">    
{% endblock css %}
    

{% block title %}{{ video.name }}{% endblock title %}

{% block content %}
    <!-- video container -->
    <div class="video-container">
        <!-- video -->
        <div class="video">
            <video controls src="{{ MEDIA_URL }}{{ video.video_file }}"></video>
        </div>
        <!-- video box -->
        <div class="video-details">
            <div class="video-title">
                <p>{{ video.name }}</p>
            </div>
            <!-- views, likes, etc -->
            <div class="video-specs">
                <div class="views-box">
                    <span>
                        {% with video.views as views %}
                            {{ views }}
                            {% if views > 1 %}
                                visualizações
                            {% else %}
                                visualização
                            {% endif %}
                        {% endwith %}
                    </span>
                </div>
                <div class="video-likes">
                    <div>
                        <a href="{% url 'videos:leave-like' video.id %}">
                            <i class="fas fa-thumbs-up"></i>
                            <span>{{ video.likes }}</span>
                        </a>
                    </div>
                    <div><span>{{ video.likes }} Deslikes</span></div>
                </div>
                <div class="video-buttons">
                    <a href="#">Compartilhar</a>
                    <a href="#">Salvar</a>
                </div>
            </div>

        </div>
    </div>

    <div class="video-sugestions-container">

    </div>

    <div class="comments-container">

    </div>
{% endblock content %}
<br><br>
<video width='400' controls>
<source src='}' type='video/mp4'>
Your browser does not support the video tag.
</video>
<br><br>