.video-container {
    width: 850px;
}

.video-container video {
    width: 100%;
    height: 100%;
}

.video-container .video-details {
    width: 100%;
}

.video-container .video-details .video-title {
    width: 100%;
    padding: 5px 0;
}

.video-container .video-details .video-title p {
    font-size: 30px;
}

.video-specs {
    width: 100%;
    height: 40px;
    padding: 5px 0; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--gray-2);
}

.video-specs .views-box {
    width: 45;
    font-size: 17px;

}

.video-specs .video-likes {
    width: 20%;
    display: flex;
    flex-direction: row;
}

.video-specs .video-likes div {
    width: 50%;
}


.video-specs .video-buttons {
    width: 35%;
}