{% load static %}
<header>
    <!-- logo -->
    <div class="logo"><a href="{% url 'core:home' %}"><strong>DjangoTube</strong></a></div>
    
    <!-- search form -->
    <div class="search-form">
        <form class="sf-form" action="." method="GET">
            <input type="text" name="serch_query" placeholder="Pesquisar" />
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <!-- profile options -->
    <div class="profile-options">
        <div class="profile-item"><a href="#"><i class="fa fa-plus-square"></i></a></div>
        <div class="profile-item"><a href="{% url 'core:home' %}"><i class="fa fa-th-list"></i></a></div>
        <div class="profile-item"><a href="#"><i class="fa fa-user"></i></a></div>
    </div>
</header>